<?xml version="1.0" encoding="UTF-8" ?>

<beans>


    <bean id="aService" class="com.test.AServiceImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property1" value="Someone says"/>
        <property type="String" name="property2" value="Hello World!"/>
        <property type="com.test.BaseService" name="ref1" ref="baseService"/>
    </bean>

    <bean id="baseBaseService" class="com.test.BaseBaseService">
        <property type="com.test.AService" name="as" ref="aService" />
    </bean>

    <bean id="baseService" class="com.test.BaseService">
        <property type="com.test.BaseBaseService" name="bbs" ref="baseBaseService" />
    </bean>

</beans>